@charset "utf-8";
/* CSS Document */

.big-font {
	
	font-family: 'Nunito', sans-serif;
	font-size: 48px;
	
	font-weight: bold;
}

.small-font {
	
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	
	font-weight: lighter;
		
}

.smallest-font {
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	
	font-weight: bold;
		
}


.button{

	background-color: transparent;
	border-radius: 30px;
	width: 176px;
	height: 45px;
	
	display: block;
	margin: 0 auto;

		
}

.flex-container{
	
	height: 100%;
	width: 100%;
	min-height: 100vh;

} 

.flex-container{
	
	display: flex;
	flex-wrap: wrap; 
	 
}


.box1{
	
	
	flex: 0.9;
	padding-left: 8%;
	padding-right: 10%;
	padding-top:3%;
	padding-bottom: 7%;
	
	

}

.box2{
	
	color: white;
	flex: 1;
	background:transparent url("images/Group 8344.png") no-repeat center center /cover;
	

	padding-top:3%;
	padding-left: 3%;
	padding-bottom: 7%;
	
}



@media only screen and (max-width:500px){
	
	.flex-container{
		flex-direction: column;
	}
}


=